
<div class="row well">
    <h2>About</h2>
    <div>
        Markdownviewer is an online tool for converting Markdown to HTML.  Written in <a href="http://www.ruby-lang.org/">Ruby</a>, using <a href="http://www.sinatrarb.com/">Sinatra</a>, and hosted on <a href="http://www.heroku.com/">Heroku</a> - Markdownviewer was written as a simple learning exercise.
    </div>
</div>
