
<div class="row well">
    <h2>About</h2>
    <p>
        Markdownviewer is an online tool for converting Markdown to HTML.  Written in <a href="http://www.ruby-lang.org/">Ruby</a>, using <a href="http://www.sinatrarb.com/">Sinatra</a>, and hosted on <a href="http://www.heroku.com/">Heroku</a> - Markdownviewer was written as a simple learning exercise.
    </p>
    <p>
        If you're interested in the code in this app, you can download what little source code there is from the Github page at <a href="https://github.com/rossjones/markdown-viewer">https://github.com/rossjones/markdown-viewer</a>
    </p>
</div>
