<div class="row well">
    <h2>Contact</h2>
    <div>
    If this app is of any use to you, it'd be great to hear from you.  You can drop me a message on <a href="http://twitter.com/rossjones">twitter</a> or an email to ross at servercode.co.uk
    </div>
</div>
