<div class="row">
<div class="span6">
    <form action="/" method="post">
        <textarea name="content" rows="13" style="width:100%;"><%= @mdown %></textarea>
        <div class="pull-right">
        <input type="hidden" name="site" value="main"/>
        <input type="submit" class="btn btn-primary" value="Give me HTML!" name="encode"></input>
                        &nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" value="Show me HTML!"></button>
        </div>
    </form>
</div>
<div class="span6">

<% if @encoded %>
    <textarea rows="13" style="width:100%;"><%= @result %></textarea>
<% else %>
    <div style="height:265px; overflow: auto; border: solid 1px #ccc;">
    <%= @result %>
    </div>
<% end %>

</div>
</div>
